  

      #navbar{
        flex-direction: column;
 } 

      #navbar li a{  
        width: 100%;
 } 

      #navbar .item{  
        width: 100%;
 } 
 
#home{
    width: 100%;
}
#home::before{
    height: 550px;
    width: 100%;
}

#services {
    display: flex;
    flex-direction: column;
}
